<div class="store-wrapper">
    <div class="store-filter">
        <h2>Filtros</h2>

    </div>
    <div class="store-products">
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>
        <div class="tmp-product"></div>  
    </div>
</div>