<div class="hero">

</div>
<div class="categories">
    <!-- Redireccionan a 'store' pero con el parametro de busqueda de la categoria especifica -->
    <a class="category" style="background-image:url(https://img.freepik.com/vector-gratis/fondo-mosaico-plano_23-2149046154.jpg?w=1380&t=st=1675534754~exp=1675535354~hmac=09252556d4582194645f5d2464d2c7d7dc463c779a5169b4929f90392676c333);">
        <p>Colorido</p>
    </a>    
    <a class="category" style="background-image: url(https://img.freepik.com/vector-gratis/fondo-patron-laberinto-abstracto-detallado-blanco-negro_1048-15671.jpg?w=826&t=st=1675534934~exp=1675535534~hmac=5d53e3fbc8eb467f504c79c67e391d4844d5acc882996ab5abb393216fd8ad5d)">
        <p>Minimalista</p>
    </a>
    <a class="category" style="background-image: url(https://i.pinimg.com/originals/f5/1f/48/f51f480a2297c2088c19909acb135655.jpg)">
        <p>Anime</p>
    </a>
</div>