.hero {
    height: 940px;
    background-color: var(--blue);
}
.categories {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    height: 720px;
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}
.category:hover {
    opacity: 75%;
}
.category p {
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border: white solid;
    border-radius: 10px;
    padding: 5px;
    color: white;
}