<nav class="navigation">
    <div class="home-link">
        <a routerLink="">Medow</a>
    </div>
    <div>
        <a routerLink="/store">Store</a>
        <a routerLink="/about">About us</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/cutomize">Customize</a>
    </div>
    <div>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
        <a routerLink="/cart">Cart</a>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>