<nav class="navigation">
    <div class="nav-home-link nav-center">
        <a routerLink="">(Medow-logo)</a>
    </div>
    <div class="nav-main-links nav-center">
        <a routerLink="/store">Store</a>
        <a routerLink="/about">About us</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/cutomize">Customize</a>
    </div>
    <div class="nav-secondary-links nav-center">
        <!-- <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a> -->
        <a routerLink="/auth"><span class="material-symbols-outlined nav-center">person</span></a>
        <a routerLink="/cart"><span class="material-symbols-outlined nav-center">shopping_bag</span></a>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
<footer class="footer">

</footer>