<div class="register-wrapper">
    <div class="form-container">
        <h1>Registro</h1>
        <form (submit)="register()" #registerForm="ngForm">
            <div class="register-row">
                <input type="text" id="name" name="name" [(ngModel)]="userRegister.name" #name="ngModel" required>
                <label >nombres</label>            
            </div>
            <div class="register-row">
                <input type="text" id="lastName" name="lastName" [(ngModel)]="userRegister.lastName" required>
                <label>apellidos</label>
            </div>
            <div class="register-row">
                <input type="text" id="email" name="email" [(ngModel)]="userRegister.email" required>
                <label>e-mail</label>
            </div>
            <div class="register-row">
                <input type="password" id="password" name="password" [(ngModel)]="userRegister.password"  required>
                <label for="">contraseña</label>
            </div>
            <div class="register-row">
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userRegister.confirmPassword" required>
                <label for="">confirmar contraseña</label>
            </div>
            <div *ngIf="!passwordMatched" class="error-msg">
                <p>Contraseñas no coinciden</p>
                <p (click)="passwordMatched = !passwordMatched"><span class="material-symbols-outlined">close</span></p>
            </div>
            <div *ngIf="existingEmail" class="error-msg">
                <p>Correo ya existente</p>
                <p (click)="existingEmail = !existingEmail"><span class="material-symbols-outlined">close</span></p>
            </div>
            <button type="submit" [disabled]="registerForm.form.invalid">
                Crear cuenta
            </button>
        </form>
    </div>   
</div>