<div class="register-wrapper">
    <div class="form-container">
        <h1>Registro</h1>
        <form (submit)="register()">
            <div class="register-row">
                <input type="text" id="email" name="email" [(ngModel)]="userRegister.email" required>
                <label>e-mail</label>
            </div>
            <div class="register-row">
                <input type="password" id="password" name="password" [(ngModel)]="userRegister.password"  required>
                <label for="">contraseña</label>
            </div>
            <div class="register-row">
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userRegister.confirmPassword" required>
                <label for="">confirmar contraseña</label>
            </div>
            <button type="submit">
                Crear cuenta
            </button>
        </form>
    </div>   
</div>